################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Models.Test.ZigZag/bin
/Models.Test.ZigZag/obj
/WebApi.Test.ZigZag/bin
/WebApi.Test.ZigZag/obj
/WebApp.Test.ZigZag/bin
/WebApp.Test.ZigZag/obj
